@charset "UTF-8";
/*------------------------------------*\
Importacion de todos lo estilos del site
\*------------------------------------*/
/**
 * La ruta relativa a la carpeta img desde los css | use background-image
 * @nuclide Root
 * @section Variables Background-image > Config
 */
/**
 * La ruta relativa a la carpeta de fuentes
 * @nuclide Root
 * @section Variables Typo > Config
 */
body,
h1, h2, h3, h4, h5, h6,
dl, dd {
  margin: 0;
  padding: 0; }

html {
  font-size: 16px;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

h1 {
  font-size: 2em; }

figcaption,
figure,
main {
  display: block; }

figure,
p {
  margin: 0; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:active, a:hover {
    outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

abbr[title],
dfn[title] {
  cursor: help; }

b,
strong {
  font-weight: inherit;
  font-weight: bolder; }

code,
pre,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

blockquote {
  margin: 0; }

audio,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

input {
  line-height: normal; }

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button {
  background-color: transparent; }

optgroup {
  font-weight: bold; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

fieldset {
  margin: 0 2px;
  padding: 0.35em 0.75em 0.625em; }

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
  border: 0; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

details,
menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

/*------------------------------------*\
    #font-family saami
\*------------------------------------*/
@font-face {
  font-family: 'Avenir Next Rounded Pro';
  src: url("../fonts/avenir-next/AvenirNextRoundedPro-Demi.eot");
  src: url("../fonts/avenir-next/AvenirNextRoundedPro-Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/avenir-next/AvenirNextRoundedPro-Demi.woff2") format("woff2"), url("../fonts/avenir-next/AvenirNextRoundedPro-Demi.woff") format("woff"), url("../fonts/avenir-next/AvenirNextRoundedPro-Demi.ttf") format("truetype"), url("../fonts/avenir-next/AvenirNextRoundedPro-Demi.svg#AvenirNextRoundedPro-Demi") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Avenir Next Rounded Pro';
  src: url("../fonts/avenir-next/AvenirNextRoundedPro-Med.eot");
  src: url("../fonts/avenir-next/AvenirNextRoundedPro-Med.eot?#iefix") format("embedded-opentype"), url("../fonts/avenir-next/AvenirNextRoundedPro-Med.woff2") format("woff2"), url("../fonts/avenir-next/AvenirNextRoundedPro-Med.woff") format("woff"), url("../fonts/avenir-next/AvenirNextRoundedPro-Med.ttf") format("truetype"), url("../fonts/avenir-next/AvenirNextRoundedPro-Med.svg#AvenirNextRoundedPro-Med") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Avenir Next Rounded Pro';
  src: url("../fonts/avenir-next/AvenirNextRoundedPro-Bold.eot");
  src: url("../fonts/avenir-next/AvenirNextRoundedPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/avenir-next/AvenirNextRoundedPro-Bold.woff2") format("woff2"), url("../fonts/avenir-next/AvenirNextRoundedPro-Bold.woff") format("woff"), url("../fonts/avenir-next/AvenirNextRoundedPro-Bold.ttf") format("truetype"), url("../fonts/avenir-next/AvenirNextRoundedPro-Bold.svg#AvenirNextRoundedPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Avenir Next Rounded Pro';
  src: url("../fonts/avenir-next/AvenirNextRoundedPro-Reg.eot");
  src: url("../fonts/avenir-next/AvenirNextRoundedPro-Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/avenir-next/AvenirNextRoundedPro-Reg.woff2") format("woff2"), url("../fonts/avenir-next/AvenirNextRoundedPro-Reg.woff") format("woff"), url("../fonts/avenir-next/AvenirNextRoundedPro-Reg.ttf") format("truetype"), url("../fonts/avenir-next/AvenirNextRoundedPro-Reg.svg#AvenirNextRoundedPro-Reg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "ico-saami";
  src: url("../fonts/icon/ico-saami.eot?oowp52");
  src: url("../fonts/icon/ico-saami.eot?oowp52#iefix") format("embedded-opentype"), url("../fonts/icon/ico-saami.ttf?oowp52") format("truetype"), url("../fonts/icon/ico-saami.woff?oowp52") format("woff"), url("../fonts/icon/ico-saami.svg?oowp52#ico-saami") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

.i-:before,
[class^="i-"]:before,
[class*=" i-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "ico-saami" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.i-accesorios:before {
  content: ""; }

.i-actividades:before {
  content: ""; }

.i-perfiles:before {
  content: ""; }

.i-voluntades-anticipadas:before {
  content: ""; }

.i-borrar:before {
  content: ""; }

.i-editar:before {
  content: ""; }

.i-condicion-especial:before {
  content: ""; }

.i-diario-notas:before {
  content: ""; }

.i-medical-history:before {
  content: ""; }

.i-star:before {
  content: ""; }

.i-alergias:before {
  content: ""; }

.i-contactos-emergencia:before {
  content: ""; }

.i-enfermedades:before {
  content: ""; }

.i-info-personal:before {
  content: ""; }

.i-medicamentos:before {
  content: ""; }

.i-medicos:before {
  content: ""; }

.i-seguros-medicos:before {
  content: ""; }

/*------------------------------------*\
    Titulos
    Description: Titulos
\*------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal; }

.sa-form__title {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 16px;
  line-height: 1.2; }

.sa-form__description {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 20px; }

/*------------------------------------*\
  Transversal Elements
  #Styles for botones
\*------------------------------------*/
button,
a {
  line-height: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  outline: none;
  outline-width: 0;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  button:focus,
  a:focus {
    outline-width: 0; }
  button:disabled,
  a:disabled {
    cursor: default; }

.sa-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  width: 100%;
  min-width: 220px;
  max-width: 220px;
  padding: 2px 2px;
  height: 40px;
  margin: 0 auto;
  font-weight: 500;
  font-family: "Avenir Next Rounded Pro", sans-serif;
  text-transform: uppercase;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  line-height: 1; }
  @media only screen and (min-width: 992px) {
    .sa-btn {
      height: 46px; } }
  .sa-btn.sa-btn_primary {
    color: #fff;
    background: -webkit-gradient(linear, left top, right top, from(#f98b41), to(#f4643b));
    background: -webkit-linear-gradient(left, #f98b41 0%, #f4643b 100%);
    background: -o-linear-gradient(left, #f98b41 0%, #f4643b 100%);
    background: linear-gradient(90deg, #f98b41 0%, #f4643b 100%); }
    .sa-btn.sa-btn_primary:hover {
      -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 28px;
              box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 28px; }
      .sa-btn.sa-btn_primary:hover .sa-btn-outline__wrap {
        background-color: transparent;
        color: #fff; }
    .sa-btn.sa-btn_primary .sa-btn__wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: #fff;
      -webkit-border-radius: 25px;
              border-radius: 25px;
      color: #f07839;
      font-weight: 500;
      -webkit-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear; }
  .sa-btn .sa-btn_full {
    max-width: 100%; }

.sa-btn_full {
  max-width: 100%; }

.sa-link {
  display: block;
  text-align: center;
  color: #06727E;
  font-weight: 500;
  font-family: "Avenir Next Rounded Pro", sans-serif;
  text-decoration: underline;
  background-color: transparent; }
  .sa-link:hover {
    font-weight: 500; }

.sa-nav-pills .sa-nav-link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  font-weight: 500;
  font-family: "Avenir Next Rounded Pro", sans-serif;
  position: relative;
  color: #06727E;
  -webkit-border-radius: 0;
          border-radius: 0; }
  .sa-nav-pills .sa-nav-link:hover {
    color: #06727E; }
    .sa-nav-pills .sa-nav-link:hover span {
      text-decoration: underline; }
  .sa-nav-pills .sa-nav-link:before {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
    font-size: 1rem; }
    @media only screen and (min-width: 992px) {
      .sa-nav-pills .sa-nav-link:before {
        font-size: 18px;
        font-size: 1.125rem; } }
  .sa-nav-pills .sa-nav-link.active {
    background-color: #06727E;
    color: #fff; }
    .sa-nav-pills .sa-nav-link.active a {
      color: #fff; }
  .sa-nav-pills .sa-nav-link a {
    color: #06727E; }

.sa-aside__premium {
  position: absolute;
  right: 10px;
  top: 50%;
  display: block;
  z-index: 2;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 10px; }
  .sa-aside__premium:before {
    display: inline-block;
    color: #e0e0e0;
    font-size: 20px;
    font-size: 1.25rem; }
  .sa-aside__premium.sa-aside__premium_active:before {
    color: #f07839; }

.sa-nav-link.active .sa-aside__premium.sa-aside__premium_active:before {
  color: #f07839; }

.sa-nav-link.active .sa-aside__premium:before {
  color: #749da2; }

/*------------------------------------*\
  Transversal Elements
  #Styles for layout theme
\*------------------------------------*/
@media only screen and (min-width: 992px) {
  .sa-l-wrapper-general {
    width: 80%;
    margin: 0 auto; } }

.sa-content_neutro {
  background: #fff;
  margin: 0 10px;
  padding: 30px 16px 30px;
  -webkit-border-radius: 2px;
          border-radius: 2px; }
  @media only screen and (min-width: 768px) {
    .sa-content_neutro {
      padding: 30px 30px 30px; } }

.l-content {
  min-height: 80vh; }

.sa-form-group {
  position: relative;
  background-color: #F7F8FF;
  width: 100%;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  padding: 24px 20px 0;
  height: 46px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 10px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 10px; }
  .sa-form-group.sa-form-group_error {
    border-bottom: 2px solid #e10e03;
    color: #e10e03; }
  .sa-form-group.sa-form-group_textarea {
    width: 100%;
    height: 100px; }
    .sa-form-group.sa-form-group_textarea .sa-form__input {
      height: 90%;
      resize: none; }

.sa-form-grid__item_check.sa-form-group_error,
.sa-form-grid__item_radio.sa-form-group_error {
  color: #e10e03; }
  .sa-form-grid__item_check.sa-form-group_error .sa-form-check__label:before,
  .sa-form-grid__item_check.sa-form-group_error .sa-form-radio__label:before,
  .sa-form-grid__item_radio.sa-form-group_error .sa-form-check__label:before,
  .sa-form-grid__item_radio.sa-form-group_error .sa-form-radio__label:before {
    border: 2px solid #e10e03; }

.sa-form-group_file.sa-form-group_error {
  border: 2px dashed #e10e03; }

.sa-txt-error {
  font-size: 14px;
  font-size: 0.875rem;
  color: #e10e03; }

.sa-form-group_center .sa-form-check__label {
  display: block;
  margin: 0 auto; }

.sa-form__label {
  position: absolute;
  display: block;
  width: 100%;
  top: 50%;
  left: 20px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  font-weight: 500;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
  pointer-events: all; }

.sa-form__input {
  display: block;
  width: 100%;
  padding: 0;
  line-height: 1;
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-size: 0.875rem;
  color: #06727E;
  font-weight: 700; }
  .sa-form__input:focus ~ .sa-form__label {
    font-size: 12px;
    font-size: 0.75rem;
    top: 4px;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0); }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #F7F8FF inset;
  /* Change the color to your own background color */
  -webkit-text-fill-color: #06727E; }

.sa-form__input_select {
  position: absolute;
  height: 50px;
  top: -4px;
  left: -3px;
  padding: 24px 20px 0; }
  .sa-form__input_select:focus {
    outline: none; }

.sa-form__input_file {
  position: absolute;
  height: 44px;
  top: 0;
  left: 0;
  padding: 10px 20px 0; }

.sa-form-group_select .sa-form__label {
  pointer-events: none; }

.sa-form-group_file {
  padding: 0 20px 0;
  border: 2px dashed #06727E; }
  .sa-form-group_file:focus {
    outline: none; }

.sa-form-group_active .sa-form__input ~ .sa-form__label,
.sa-form-group_active-single .sa-form__input ~ .sa-form__label {
  font-size: 12px;
  font-size: 0.75rem;
  top: 4px;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0); }

.sa-form-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

.sa-form-grid__item_check,
.sa-form-grid__item_radio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start; }

.sa-form-check__label,
.sa-form-radio__label {
  position: relative;
  padding-left: 24px;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 13px;
  font-size: 0.8125rem; }
  .sa-form-check__label:before, .sa-form-check__label:after,
  .sa-form-radio__label:before,
  .sa-form-radio__label:after {
    position: absolute;
    content: '';
    -webkit-border-radius: 50%;
            border-radius: 50%;
    display: block;
    top: 4px;
    left: 0;
    cursor: pointer; }
  .sa-form-check__label:before,
  .sa-form-radio__label:before {
    width: 16px;
    height: 16px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 10px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 10px;
    background-color: #cacaca; }
  .sa-form-check__label a,
  .sa-form-radio__label a {
    color: #f07839;
    text-decoration: underline; }
  .sa-form-check__label:before, .sa-form-check__label:after,
  .sa-form-radio__label:before,
  .sa-form-radio__label:after {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }

.sa-form-check__label:after {
  display: block;
  width: 14px;
  height: 14px;
  background-image: url(../images/check.svg);
  background-position: center;
  -webkit-background-size: 12px auto;
          background-size: 12px auto;
  background-repeat: no-repeat;
  opacity: .4;
  left: 1px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.sa-form-radio__label:before {
  border: 2px solid #5d5d5d; }

.sa-form-radio__label:after {
  width: 12px;
  height: 12px;
  left: 2px;
  background-color: #fff;
  border: 2px solid #fff; }

.sa-form-check__input:checked + .sa-form-check__label:before {
  background-color: #06727E; }

.sa-form-check__input:checked + .sa-form-check__label:after {
  opacity: 1; }

.sa-form-radio__input:checked + .sa-form-radio__label:before {
  border: 2px solid #06727E; }

.sa-form-radio__input:checked + .sa-form-radio__label:after {
  background-color: #06727E;
  border-color: #fff; }

.sa-form-check__input,
.sa-form-radio__input {
  position: absolute;
  opacity: 0; }

.sa-form__link {
  font-size: 14px;
  font-size: 0.875rem;
  color: #f07839; }
  .sa-form__link:hover {
    color: #f07839;
    text-decoration: underline; }

.login-wrap {
  max-width: 450px; }

.login-checkbox {
  padding-top: 4px;
  margin-bottom: 16px; }
  .login-checkbox .sa-form__link {
    font-size: 13px;
    font-size: 0.8125rem; }

.s-form__btn {
  font-weight: 500;
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  background: #f98b41;
  background: -webkit-gradient(linear, left top, right top, from(#f98b41), to(#f4643b));
  background: -webkit-linear-gradient(left, #f98b41 0%, #f4643b 100%);
  background: -o-linear-gradient(left, #f98b41 0%, #f4643b 100%);
  background: linear-gradient(90deg, #f98b41 0%, #f4643b 100%);
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  -webkit-box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
          box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px; }
  .s-form__btn:hover {
    background: -webkit-gradient(linear, left top, right top, from(#f98b41), to(#f4643b));
    background: -webkit-linear-gradient(left, #f98b41 0%, #f4643b 100%);
    background: -o-linear-gradient(left, #f98b41 0%, #f4643b 100%);
    background: linear-gradient(90deg, #f98b41 0%, #f4643b 100%);
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 28px;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 28px; }

.social-button .au-btn {
  padding: 0 10px;
  -webkit-border-radius: 25px;
          border-radius: 25px; }

.sa-form-group_radio {
  margin-bottom: 0; }
  .sa-form-group_radio label {
    margin-bottom: 0; }

@media only screen and (min-width: 768px) {
  .sa-form-register {
    margin: 0 auto;
    width: 80%; } }

.sa-form-group__checkboxes .sa-form-grid__item_check {
  margin-bottom: 6px; }

.sa-form-group__checkboxes .sa-form-check__label,
.sa-form-group__checkboxes .sa-form-radio__label {
  font-size: 16px;
  font-size: 1rem; }

.form-group__grid-checks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.sa-form-terms .form-group {
  position: relative; }

.sa-form-terms__wrapper-fold {
  height: -webkit-calc(100vh - 370px);
  height: calc(100vh - 370px);
  overflow-y: scroll; }
  .sa-form-terms__wrapper-fold:before, .sa-form-terms__wrapper-fold:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    background: white; }
  .sa-form-terms__wrapper-fold:before {
    height: 30px;
    top: 20px;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), to(white));
    background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, white 100%);
    background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, white 100%);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, white 100%); }
  .sa-form-terms__wrapper-fold:after {
    bottom: 0;
    height: 40px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, white 100%); }
  .sa-form-terms__wrapper-fold .badge {
    display: block;
    margin-bottom: 10px;
    white-space: normal;
    white-space: initial; }

/* width */
::-webkit-scrollbar {
  width: 2px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f98b41; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f98b41; }

.sa-perfil {
  -webkit-box-shadow: rgba(0, 0, 0, 0.04) 0px 8px 28px;
          box-shadow: rgba(0, 0, 0, 0.04) 0px 8px 28px;
  background-color: #fff; }
  @media only screen and (min-width: 768px) {
    .sa-perfil {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      -webkit-align-items: stretch;
      -moz-align-items: stretch;
      align-items: stretch; } }
  .sa-perfil.sa-perfil_registro {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
    margin-bottom: 20px; }

.sa-perfil__grid {
  padding: 20px 0; }
  @media only screen and (min-width: 992px) {
    .sa-perfil__grid {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 80%;
      -moz-flex: 1 1 80%;
      -ms-flex: 1 1 80%;
      flex: 1 1 80%;
      padding: 30px 0; } }

.sa-perfil__avatar {
  display: none; }
  @media only screen and (min-width: 992px) {
    .sa-perfil__avatar {
      display: block;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -moz-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto; } }

@media only screen and (min-width: 992px) {
  .sa-perfil__info {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto; } }

@media only screen and (min-width: 992px) {
  .sa-perfil__nav {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 20%;
    -moz-flex: 1 1 20%;
    -ms-flex: 1 1 20%;
    flex: 1 1 20%; } }

.sa-perfil__avatar-img {
  display: block;
  width: 100px;
  margin: 0 auto 20px;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  @media only screen and (min-width: 992px) {
    .sa-perfil__avatar-img {
      width: 200px;
      margin: 0 30px 0 0; } }

.sa-perfil__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  font-size: 24px;
  font-size: 1.5rem;
  padding-bottom: 6px; }
  @media only screen and (min-width: 992px) {
    .sa-perfil__title {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      justify-content: flex-start;
      font-size: 36px;
      font-size: 2.25rem; } }

@media only screen and (max-width: 991px) {
  .sa-perfil__txt {
    text-align: center; } }

.sa-perfil__btn {
  margin-left: 10px; }
  .sa-perfil__btn:before {
    display: block;
    color: #f07839;
    font-size: 20px;
    font-size: 1.25rem;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear; }

.sa-perfil__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-top: 20px; }
  @media only screen and (max-width: 991px) {
    .sa-perfil__nav {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center; } }

.sa-perfil__nav-item {
  margin-right: 20px; }

.sa-perfil__nav-link {
  border: 1px solid #f07839;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  color: #f07839;
  padding: 4px 10px;
  font-size: 14px;
  font-size: 0.875rem; }
  .sa-perfil__nav-link:hover {
    background-color: #f07839;
    color: #fff; }

@media only screen and (min-width: 992px) {
  .sa-perfil_small .sa-perfil__grid {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start; } }

.sa-perfil_small .sa-perfil__avatar {
  display: none; }
  @media only screen and (min-width: 992px) {
    .sa-perfil_small .sa-perfil__avatar {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -moz-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto; } }
  @media only screen and (min-width: 992px) {
    .sa-perfil_small .sa-perfil__avatar {
      display: block; } }

@media only screen and (min-width: 992px) {
  .sa-perfil_small .sa-perfil__avatar-img {
    width: 140px; } }

@media only screen and (min-width: 992px) {
  .sa-perfil_small .sa-perfil__title {
    font-size: 24px;
    font-size: 1.5rem; } }

.modal-dialog {
  max-width: 600px; }

.sa-modal-title {
  color: #f07839;
  display: block;
  width: 100%;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center; }

.sa-modal__txt {
  display: block;
  text-align: center;
  font-size: 16px;
  font-size: 1rem; }
  @media only screen and (min-width: 768px) {
    .sa-modal__txt {
      font-size: 22px;
      font-size: 1.375rem; } }

.modal-dialog .sa-modal__txt_bold {
  color: #f07839;
  font-weight: 500; }

.modal-footer {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .modal-footer .sa-btn {
    margin: 6px 0; }
  @media only screen and (min-width: 768px) {
    .modal-footer {
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      -webkit-justify-content: flex-end;
      -moz-justify-content: flex-end;
      justify-content: flex-end; }
      .modal-footer .sa-btn {
        margin: 0 6px; } }

.sa-nav-tabs .nav-link {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  color: #333;
  border: 0;
  font-weight: 500;
  background-color: transparent;
  border-bottom: 2px solid transparent; }
  .sa-nav-tabs .nav-link.active {
    color: #f07839;
    background-color: transparent;
    border-color: #f07839; }

.sa-tab-actions {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media only screen and (min-width: 992px) {
    .sa-tab-actions {
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      -webkit-justify-content: flex-end;
      -moz-justify-content: flex-end;
      justify-content: flex-end; } }

@media only screen and (max-width: 991px) {
  .sa-tab-actions__item {
    width: 100%;
    max-width: 200px; }
    .sa-tab-actions__item button {
      width: 100%;
      margin-bottom: 6px; } }

@media only screen and (min-width: 992px) {
  .sa-tab-actions__item {
    margin-left: 20px; } }

.sa-mod-view {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px; }

.card-body .sa-mod-view {
  margin: 0; }

.sa-mod-view__list {
  width: 100%;
  list-style: none;
  border: 1px solid #E8E5E5; }
  .sa-mod-view__list .sa-mod-view__list {
    border: none; }

.sa-mod-view__item {
  padding-top: 6px;
  padding-bottom: 6px; }

.sa-mod-view__actions {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  margin-bottom: 16px; }
  @media only screen and (min-width: 992px) {
    .sa-mod-view__actions {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; } }

.sa-mod-view__actions-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }
  @media only screen and (min-width: 992px) {
    .sa-mod-view__actions-item {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      -webkit-justify-content: flex-end;
      -moz-justify-content: flex-end;
      justify-content: flex-end; } }

.sa-mod-view__def {
  word-wrap: break-word; }

.sa-nav-actions {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%; }
  @media only screen and (max-width: 991px) {
    .sa-nav-actions {
      padding-bottom: 16px; } }

.header-desktop3 {
  background: -webkit-gradient(linear, left top, right top, from(#f98b41), to(#f4643b));
  background: -webkit-linear-gradient(left, #f98b41 0%, #f4643b 100%);
  background: -o-linear-gradient(left, #f98b41 0%, #f4643b 100%);
  background: linear-gradient(90deg, #f98b41 0%, #f4643b 100%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 0 0 10px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1); }
  @media only screen and (min-width: 992px) {
    .header-desktop3 {
      height: 80px;
      padding: 0; } }

@media (max-width: 1315px) and (min-width: 992px) {
  .header-desktop3 .section__content {
    padding: 0 15px; } }

.header-desktop3 .header-button-item {
  color: #fff; }

@media only screen and (max-width: 991px) {
  .sa-header__section {
    width: 100%;
    min-height: 80px;
    background-color: #fff;
    -webkit-border-radius: 0 0 85px 85px;
            border-radius: 0 0 85px 85px; } }

@media only screen and (max-width: 991px) {
  .header__logo {
    position: absolute;
    left: 50%;
    top: 10px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); } }

.header3-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start; }
  @media only screen and (min-width: 992px) {
    .header3-wrap {
      position: relative;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center; } }

.header__navbar {
  width: 100%; }
  .header__navbar ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-border-radius: 0 0 85px 85px;
            border-radius: 0 0 85px 85px;
    padding: 0 10px; }
    @media only screen and (min-width: 992px) {
      .header__navbar ul {
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        width: 600px;
        margin: 0 auto; } }

.sa-header__logo-img {
  display: block;
  width: 100%;
  max-width: 170px; }
  @media only screen and (min-width: 992px) {
    .sa-header__logo-img {
      max-width: 180px; } }

.header__tool {
  position: absolute;
  right: 20px;
  top: 10px; }
  .header__tool .js-acc-btn {
    display: none; }
    @media only screen and (min-width: 768px) {
      .header__tool .js-acc-btn {
        display: block; } }

.sa-header__navbar {
  -webkit-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out; }
  @media only screen and (max-width: 991px) {
    .sa-header__navbar {
      top: 70px;
      height: 1px;
      overflow: hidden;
      opacity: 0; } }
  .sa-header__navbar.sa-header__navbar_active {
    opacity: 1; }

.sa-header__navbar-close {
  position: absolute;
  top: 20px; }
  .sa-header__navbar-close:before {
    color: #f07839;
    font-size: 30px;
    font-size: 1.875rem; }
  .sa-header__navbar-close span {
    display: none; }
  @media only screen and (min-width: 992px) {
    .sa-header__navbar-close {
      display: none; } }

.sa-bg-premium {
  background-image: url("../images/background/bg-premium.png");
  background-repeat: no-repeat;
  -webkit-background-size: auto auto;
          background-size: auto;
  background-position-y: -100px;
  background-position-x: center;
  font-family: "Avenir Next Rounded Pro";
  font-weight: 500; }
  @media only screen and (min-width: 992px) {
    .sa-bg-premium {
      background-position: top center;
      -webkit-background-size: 140% 140%;
              background-size: 140%; } }
  @media only screen and (min-width: 1280px) {
    .sa-bg-premium {
      -webkit-background-size: 100% 100%;
              background-size: 100%; } }

.sa-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 250px;
  margin-bottom: 50px; }
  @media only screen and (min-width: 992px) {
    .sa-hero {
      min-height: 350px; } }

.sa-premium__article {
  padding-bottom: 30px; }

.sa-title-superbig {
  font-size: 34px;
  font-size: 2.125rem;
  text-transform: uppercase;
  color: #fff;
  font-family: "Avenir Next Rounded Pro";
  font-weight: bold; }
  @media only screen and (min-width: 992px) {
    .sa-title-superbig {
      font-size: 50px;
      font-size: 3.125rem; } }

.sa-title-big {
  display: block;
  text-align: center;
  color: #333;
  font-family: "Avenir Next Rounded Pro";
  font-weight: bold;
  font-size: 28px;
  font-size: 1.75rem;
  padding-bottom: 20px; }
  @media only screen and (min-width: 992px) {
    .sa-title-big {
      font-size: 40px;
      font-size: 2.5rem; } }

.row.sa-premium__grid {
  padding-top: 20px; }
  @media only screen and (min-width: 992px) {
    .row.sa-premium__grid {
      padding-top: 50px; } }

.sa-premium__item {
  text-align: center;
  padding: 0 20px 20px; }
  .sa-premium__item ul {
    list-style-type: none; }

.sa-premium__item-title {
  font-family: "Avenir Next Rounded Pro";
  font-weight: bold;
  font-size: 18px;
  font-size: 1.125rem; }

.sa-premium__item-txt {
  font-size: 14px;
  font-size: 0.875rem;
  padding: 0 20px; }
  @media only screen and (min-width: 992px) {
    .sa-premium__item-txt {
      font-size: 16px;
      font-size: 1rem; } }

.sa-premium__item_bg {
  background-color: #04b19b; }
  .sa-premium__item_bg .sa-premium__item-txt,
  .sa-premium__item_bg .sa-premium__item-title {
    color: #fff; }

.sa-premium__grid_half .sa-premium__item {
  padding: 20px 10px; }

.sa-premium__grid_half .sa-premium__item-txt {
  padding: 0 10px; }

.sa-card-perfil {
  padding: 10px 0 20px;
  position: relative;
  margin: 20px 10px;
  background-color: #fff;
  border: 1px solid rgba(102, 102, 102, 0.1);
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 12px; }
  @media only screen and (min-width: 992px) {
    .sa-card-perfil {
      margin: 20px; }
      .sa-card-perfil:hover .sa-card-perfil__nav,
      .sa-card-perfil:hover .sa-card-perfil__nav-list {
        opacity: 1; }
      .sa-card-perfil:hover .sa-card-perfil__add {
        -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 12px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 12px; }
        .sa-card-perfil:hover .sa-card-perfil__add:before {
          display: block; }
      .sa-card-perfil:hover .sa-card-perfil__add-txt {
        color: #04b19b; } }
  @media only screen and (min-width: 992px) {
    .sa-card-perfil.sa-card-perfil_nohide:hover .sa-card-perfil__info,
    .sa-card-perfil.sa-card-perfil_nohide:hover .sa-card-perfil__title {
      opacity: 1; } }

.sa-card-perfil_add {
  cursor: pointer; }

.sa-card-perfil__avatar {
  position: relative;
  z-index: 2;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 0 auto;
  width: 100px;
  display: block;
  margin-bottom: 16px;
  border: 4px solid transparent;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear; }
  @media only screen and (min-width: 992px) {
    .sa-card-perfil__avatar {
      width: 140px; } }

.sa-card-perfil__title {
  position: relative;
  opacity: 1;
  padding: 0 20px 16px;
  font-size: 16px;
  font-size: 1rem;
  text-align: center;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  @media only screen and (min-width: 992px) {
    .sa-card-perfil__title {
      font-size: 20px;
      font-size: 1.25rem; }
      .sa-card-perfil__title .sa-perfil__btn {
        position: absolute;
        top: -10px;
        left: -40px;
        z-index: 2; } }

.sa-card-perfil__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  opacity: 1;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.sa-card-perfil__txt {
  display: block;
  margin: 0 10px; }

.sa-card-perfil__nav-list {
  width: 100%;
  list-style: none; }

.sa-card-perfil__navl-item .sa-link {
  color: #04b19b;
  cursor: pointer; }

.sa-slider-perfiles {
  position: relative;
  padding: 0 20px 20px; }
  @media only screen and (max-width: 480px) {
    .sa-slider-perfiles {
      max-width: 300px;
      margin: 0 auto; } }
  @media only screen and (min-width: 992px) {
    .sa-slider-perfiles {
      padding: 0 0 30px; } }
  .sa-slider-perfiles .slick-track {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .sa-slider-perfiles .slick-track .sa-card-perfil {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      height: auto; }

.sa-card-perfil__add {
  padding: 4px;
  margin-bottom: 16px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear; }
  .sa-card-perfil__add:before {
    font-size: 40px;
    font-size: 2.5rem;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #fff;
    color: #04b19b;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear; }

.sa-card-perfil__add-txt {
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  font-weight: 500; }

.slick-arrow {
  font-size: 0;
  font-family: "FontAwesome"; }
  .slick-arrow.slick-prev, .slick-arrow.slick-next {
    position: absolute;
    top: -webkit-calc(50%);
    top: calc(50%);
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 100%;
    padding: 0 10px;
    z-index: 2; }
    .slick-arrow.slick-prev:before, .slick-arrow.slick-next:before {
      color: #04b19b;
      font-size: 20px; }
  .slick-arrow.slick-prev {
    left: -8px; }
    .slick-arrow.slick-prev:before {
      content: "\f060"; }
    @media only screen and (min-width: 992px) {
      .slick-arrow.slick-prev {
        left: -16px; } }
  .slick-arrow.slick-next {
    right: -8px; }
    .slick-arrow.slick-next:before {
      content: "\f061"; }
    @media only screen and (min-width: 992px) {
      .slick-arrow.slick-next {
        right: -16px; } }

.sa-card-perfil__action {
  list-style: none;
  margin-bottom: 16px; }

.sa-card-perfil__action-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }
  .sa-card-perfil__action-item .sa-card-perfil__action-txt {
    padding-bottom: 0; }

.sa-card-perfil__action-icon {
  margin-left: 10px;
  color: #04b19b; }

.sa-card-perfil__action-txt {
  display: block;
  line-height: 1.4;
  text-align: center;
  padding: 0 10px 16px; }

@media only screen and (min-width: 992px) {
  .sa-grid-perfiles {
    margin: 0 auto; }
    .sa-grid-perfiles .multiple-items {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      -webkit-align-items: stretch;
      -moz-align-items: stretch;
      align-items: stretch;
      list-style: none;
      margin: 0 -44px; }
      .sa-grid-perfiles .multiple-items .sa-card-perfil__nav-list {
        text-align: center; }
      .sa-grid-perfiles .multiple-items .sa-perfil__nav-link {
        margin-top: 6px; }
    .sa-grid-perfiles .sa-card-perfil {
      width: 250px;
      margin: 10px; }
  .sa-card-perfil__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-width: 280px;
    margin: 0 auto; }
    .sa-card-perfil__header:after {
      content: '';
      width: 80%;
      margin: 10px auto 20px;
      height: 1px;
      background: white;
      background: -webkit-gradient(linear, left top, right top, from(white), color-stop(20%, #dadada), color-stop(80%, #dadada), to(white));
      background: -webkit-linear-gradient(left, white 0%, #dadada 20%, #dadada 80%, white 100%);
      background: -o-linear-gradient(left, white 0%, #dadada 20%, #dadada 80%, white 100%);
      background: linear-gradient(90deg, white 0%, #dadada 20%, #dadada 80%, white 100%); }
    .sa-card-perfil__header .sa-card-perfil__avatar {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 30%;
      -moz-flex: 0 0 30%;
      -ms-flex: 0 0 30%;
      flex: 0 0 30%;
      width: 70px;
      margin-bottom: 0; }
    .sa-card-perfil__header .sa-card-perfil__title {
      padding: 0 6px 6px 0;
      font-size: 14px;
      font-size: 0.875rem;
      text-align: left; }
    .sa-card-perfil__header .sa-card-perfil__info {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 60%;
      -moz-flex: 0 0 60%;
      -ms-flex: 0 0 60%;
      flex: 0 0 60%;
      font-size: 14px;
      font-size: 0.875rem;
      text-align: left; }
    .sa-card-perfil__header .sa-card-perfil__txt {
      margin: 0;
      line-height: 1; } }

.sa-header__list-item {
  position: relative; }
  @media only screen and (max-width: 991px) {
    .sa-header__list-item {
      width: 100%; } }
  @media only screen and (min-width: 992px) {
    .sa-header__list-item:hover .sa-menu-dropdown__list {
      opacity: 1;
      pointer-events: all; }
    .sa-header__list-item:hover .sa-header__list-link {
      color: #fff;
      text-decoration: underline; }
    .sa-header__list-item .sa-header__list-link span {
      display: block;
      text-align: center; }
      .sa-header__list-item .sa-header__list-link span:before {
        display: inline-block;
        font-size: 30px;
        font-size: 1.875rem; } }

.sa-menu-dropdown__list {
  position: absolute;
  top: 50px;
  right: 0;
  list-style: none;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  opacity: 0;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  pointer-events: none; }
  @media only screen and (min-width: 992px) {
    .sa-menu-dropdown__list {
      top: 76px;
      left: 0;
      right: 0; } }
  .sa-menu-dropdown__list:before {
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    left: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent; }
  .sa-menu-dropdown__list.sa-menu-dropdown__list_active {
    opacity: 1; }

.sa-header__navbar .sa-menu-dropdown__list {
  display: block;
  background-color: #fff;
  -webkit-border-radius: 0;
          border-radius: 0;
  padding: 10px 0;
  width: 100%;
  z-index: 2; }
  @media only screen and (min-width: 992px) {
    .sa-header__navbar .sa-menu-dropdown__list {
      width: 200px; } }

.sa-header__navbar .sa-menu-dropdown__list-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  color: #333;
  padding: 6px 15px;
  line-height: 1;
  font-size: 14px;
  font-size: 0.875rem; }

.sa-header__navbar .sa-header__list-link {
  border: 0;
  padding: 10px 15px;
  border-bottom: 2px solid transparent;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }
  @media only screen and (max-width: 991px) {
    .sa-header__navbar .sa-header__list-link {
      color: #f07839; } }
  @media only screen and (min-width: 992px) {
    .sa-header__navbar .sa-header__list-link {
      padding: 10px 15px 15px; } }

.sa-menu-dropdown__list-avatar {
  display: block;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-image: var(--bg);
  background-image: var(--bg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px; }

.sa-header__list-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  width: 30px;
  height: 30px; }
  .sa-header__list-btn:before {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    font-size: 18px;
    font-size: 1.125rem;
    color: #f07839; }
  @media only screen and (min-width: 992px) {
    .sa-header__list-btn {
      display: none; } }
  .sa-header__list-btn span {
    display: none; }

.sa-header__list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

.sa-accordion-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  font-size: 18px;
  font-size: 1.125rem;
  color: #f07839;
  width: 100%; }

.sa-table-actions span:before {
  color: #04b19b; }

.table-data2.table tbody td td {
  padding: 0; }

.sa-form-group__toggle {
  position: relative; }

.sa-toggle__input {
  opacity: 0;
  position: absolute; }

.sa-toggle__label {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 50px;
  padding: 6px 0;
  cursor: pointer;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  background-color: #b1b1b1;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear; }
  .sa-toggle__label:before {
    content: '';
    display: block;
    -webkit-transform: translateX(5px);
        -ms-transform: translateX(5px);
            transform: translateX(5px);
    width: 14px;
    height: 14px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #fff;
    -webkit-box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
            box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear; }

.sa-toggle__input:checked + .sa-toggle__label {
  background-color: #04b19b; }
  .sa-toggle__input:checked + .sa-toggle__label:before {
    -webkit-transform: translateX(30px);
        -ms-transform: translateX(30px);
            transform: translateX(30px); }
