@font-face {
    font-family: 'Avenir Next Rounded Pro';
    src: url('AvenirNextRoundedPro-Demi.eot');
    src: url('AvenirNextRoundedPro-Demi.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextRoundedPro-Demi.woff2') format('woff2'),
        url('AvenirNextRoundedPro-Demi.woff') format('woff'),
        url('AvenirNextRoundedPro-Demi.ttf') format('truetype'),
        url('AvenirNextRoundedPro-Demi.svg#AvenirNextRoundedPro-Demi') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Rounded Pro';
    src: url('AvenirNextRoundedPro-Med.eot');
    src: url('AvenirNextRoundedPro-Med.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextRoundedPro-Med.woff2') format('woff2'),
        url('AvenirNextRoundedPro-Med.woff') format('woff'),
        url('AvenirNextRoundedPro-Med.ttf') format('truetype'),
        url('AvenirNextRoundedPro-Med.svg#AvenirNextRoundedPro-Med') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Rounded Pro';
    src: url('AvenirNextRoundedPro-Bold.eot');
    src: url('AvenirNextRoundedPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextRoundedPro-Bold.woff2') format('woff2'),
        url('AvenirNextRoundedPro-Bold.woff') format('woff'),
        url('AvenirNextRoundedPro-Bold.ttf') format('truetype'),
        url('AvenirNextRoundedPro-Bold.svg#AvenirNextRoundedPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Rounded Pro';
    src: url('AvenirNextRoundedPro-MedIt.eot');
    src: url('AvenirNextRoundedPro-MedIt.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextRoundedPro-MedIt.woff2') format('woff2'),
        url('AvenirNextRoundedPro-MedIt.woff') format('woff'),
        url('AvenirNextRoundedPro-MedIt.ttf') format('truetype'),
        url('AvenirNextRoundedPro-MedIt.svg#AvenirNextRoundedPro-MedIt') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Rounded Pro';
    src: url('AvenirNextRoundedPro-DemiIt.eot');
    src: url('AvenirNextRoundedPro-DemiIt.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextRoundedPro-DemiIt.woff2') format('woff2'),
        url('AvenirNextRoundedPro-DemiIt.woff') format('woff'),
        url('AvenirNextRoundedPro-DemiIt.ttf') format('truetype'),
        url('AvenirNextRoundedPro-DemiIt.svg#AvenirNextRoundedPro-DemiIt') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Rounded Pro';
    src: url('AvenirNextRoundedPro-BoldIt.eot');
    src: url('AvenirNextRoundedPro-BoldIt.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextRoundedPro-BoldIt.woff2') format('woff2'),
        url('AvenirNextRoundedPro-BoldIt.woff') format('woff'),
        url('AvenirNextRoundedPro-BoldIt.ttf') format('truetype'),
        url('AvenirNextRoundedPro-BoldIt.svg#AvenirNextRoundedPro-BoldIt') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Rounded Pro';
    src: url('AvenirNextRoundedPro-Reg.eot');
    src: url('AvenirNextRoundedPro-Reg.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextRoundedPro-Reg.woff2') format('woff2'),
        url('AvenirNextRoundedPro-Reg.woff') format('woff'),
        url('AvenirNextRoundedPro-Reg.ttf') format('truetype'),
        url('AvenirNextRoundedPro-Reg.svg#AvenirNextRoundedPro-Reg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Rounded Pro';
    src: url('AvenirNextRoundedPro-Italic.eot');
    src: url('AvenirNextRoundedPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextRoundedPro-Italic.woff2') format('woff2'),
        url('AvenirNextRoundedPro-Italic.woff') format('woff'),
        url('AvenirNextRoundedPro-Italic.ttf') format('truetype'),
        url('AvenirNextRoundedPro-Italic.svg#AvenirNextRoundedPro-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

